nav {
 background: #AAAAAA!important;
}

.brand-logo img{
    margin-top: 5px;
    width: 90%;
}
/*@media screen and (max-width: 450px) {
   .brand-logo img{
        width: 82%;
    } 
}

@media (min-width: 550px) and (max-width: 770px) {
   .brand-logo img{
        width: 75%;
    } 
}*/