img.bigger-image {
    width: 60%;
    margin: 0 auto;
}

.back-btn {
    margin-top: 20px;
    background: #6d4c41 !important;

}
.card-panel {
    background: #e7e7e7;
}
.clinet-name {
    font-weight: bold;
}
.client-comment {
    color: rgba(0,0,0,0.71);
}
.client-rating i{
    color: #F44336;

}